:root {
    --drop-menu-item_height: 100px;
}

.drop-menu_container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    transition: 0.6s ease;
}

.drop-menu_container > .drop-menu-item {
    height: var(--drop-menu-item_height);
    display: flex;
    margin: 10px;
}

.drop-menu-item > .artwork {
    height: var(--drop-menu-item_height);
}

.drop-menu-item > .track-info_container {
    font-size: 13px;
    display: inherit;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    width: 80%;
    height: 100%;
}

.track-info_container.not-found {
    background-color: red;
    border-radius: 20px;
    opacity: 0.6;
}

.track-info_container.success {
    background-color: #32d632;
    border-radius: 20px;
}

.track-info_container > .track-name {
    display: inherit;
    align-items: center;
    width: 100%;
    height: 70%;
}

.track-info_container > .track-url {
    display: inherit;
    align-items: center;
    width: 100%;
    height: 30%;
}

.drop-menu-item > .show-lyrics-button_container {
    display: inherit;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.drop-menu-item > .set-lyrics-button_container {
    display: inherit;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.drop-menu-item > .remove-button_container {
    display: inherit;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    padding-left: 10px;
    color: #2d2d2d;
}

.drop-menu_container.drag-effect {
    opacity: 0.3;
    transition: 0.6s ease;
}
